  .header-container {
      max-width: auto;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin: 10px 150px 0 150px;
      padding: 20px;
  }

  .box {
      display: flex;
      padding: 0 10px 0 0;
      align-items: center;
  }

  .box-item {
      padding: 0 5px 0 5px;
  }

  .main-text {
      padding: 0 0 0 15px;
  }

  .main-icon {
      width: 207px;
      height: 67px;
      padding: 10px;
  }

  .icon {
      width: 35px;
      height: 35px;
      padding: 10px;
      margin: 0 10px 0 10px;
  }